 @charset "utf-8"

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header .main{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/img/pic1.jpg);
	background-repeat: no-repeat;
	width: 100%;
 	height: 610px;
	background-position: center;
 	background-size: cover;
 	background-attachment: fixed;
}

 ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 25px;
	font-size: 20px;
	font-family: 'Raleway'
}

ul li{
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px; 
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a: hover{
	background: gray;
	color: #000;
}

.title h1{
	position: absolute;
	top: 5%;
	left: 10%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 50px;
	font-family: 'Carter One', cursive;
}

.title h2{
	position: absolute;
	top: 63%;
	left: 65%;
	color: white;
	transform: translate(-50%, -50%);
	font-family: 'Carter One', cursive;
}

.title h3{
	position: absolute;
	top: 73%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;

}

.title h4{
	position: absolute;
	top: 330%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;

}

.subtitle h1{
	position: absolute;
	top: 220%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.subtitle h2{
	position: absolute;
	top: 219%;
	left: 40%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.subtitle h3{
	position: absolute;
	top: 218%;
	left: 45%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.subtitle h4{
	position: absolute;
	top: 216%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.subtitle h5{
	position: absolute;
	top: 214%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.subtitle h6{
	position: absolute;
	top: 209.5%;
	left: 60%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.subtitle1 h1{
	position: absolute;
	top: 221%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Carter One', cursive;
}

.logo{
	position: absolute;
	float: left;
	width: 11%;	
	height: 10px;
	margin-top: 170px;
	margin-left: 160px;
}

.image2 {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/img/pic2.jpg);
	background-repeat: no-repeat;
	width: 100%;
 	height: 650px;
	background-position: center;
 	background-size: cover;
 	background-attachment: fixed;
}

.about h1{
	position: absolute;
	top: 130%;
	left: 30%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 45px;
	font-family: 'Carter One', cursive;
}

.about h2{
	position: absolute;
	top: 155%;
	left: 25%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
}

.about h3{
	position: absolute;
	top: 160%;
	left: 25%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
}

.about h4{
	position: absolute;
	top: 165%;
	left: 25%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
}

.about h5{
	position: absolute;
	top: 170%;
	left: 25%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
}

.image3 {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/img/pic3.jpg);
	background-repeat: no-repeat;
	width: 100%;
 	height: 650px;
	background-position: center;
 	background-size: cover;
 	background-attachment: fixed;
}

.image4 {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/img/pic4.jpg);
	background-repeat: no-repeat;
	width: 100%;
 	height: 650px;
	background-position: center;
 	background-size: cover;
 	background-attachment: fixed;
}

*{
	box-sizing: border-box;
}

.column{
	float: left;	
	width: 20%;
	height: 80px;
	padding-top: 200px;
	margin-left: 50px;
}

.row::after {
	content: "";
	display: table;
}

.column1{
	float: left;
	width: 20%;
	height: 80px;
	margin-top: 160px;
	margin-left: 150px;
}

.playlist h1{
	position: absolute;
	top: 360%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;
	font-family: 'Century Gothic'

}

.playlist h2{
	position: absolute;
	top: 370%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
	font-family: 'Century Gothic'

}

.playlist h3{
	position: absolute;
	top: 380%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 27px;
	font-family: 'Century Gothic'

}